    <footer class="page-footer font-small">
    <div class="row d-flex align-items-center text-center p-3 border-top">
      <div class="col text-center">
        <small class="text-muted">
          Site version: <code>{{site_version}}</code>
          <br>Generated on: <code>{{date}}</code>
        </small>
      </div>
    </div>
    <div class="footer-copyright text-center py-2 bg-white">
      <small class="text-muted">
        ALL INFORMATION PRESENTED HERE IS TO BE USED AT YOUR OWN RISK,STRICTLY VOLUNTARY, 
        <br>SHOULD NOT BE USED FOR IMPLEMENTING PRODUCTS,NO WARRANTY EXPRESSED OR IMPLIED. PROVIDED FOR CONVENIENCE ONLY.
        <br>:: GO TO <a href="https://github.com/SteveLLamb/mediastandards-registry" target="_blank">https://github.com/SteveLLamb/mediastandards-registry</a> TO OFFER SUGGESTIONS/ CORRECTIONS. ::
        <br>USE AT YOUR OWN RISK
      </small>
    </div>
    <div class="footer-copyright text-center py-2 bg-white">
      <small class="text-muted">
        © 2021 Copyright: Steve LLamb
      </small>
    </div>
  </footer> 
</body>